<div class="banner-bg">
  <h2><small>Hi <%= "#{session[:login_user]['first_name']}" %>,</small><br>Welcome to your Dashboard</h2>
  <div class="breadcrumb-menu">
    <ul class="pull-left">
      <li class="add-link">
        <i class="fa fa-home fa-2x"></i> Add Property
      </li>              
    </ul>
    <ul>
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Add Property</a>
      </li>
    </ul>
  </div>
</div>