<footer class="main-footer"> 
	<div class="container-fluid">
  	<div class="row">
      	<div class="col-md-6">
              &copy; 2004-2018 <a href="#">Rezserve Technologies</a>, LTD, <a href="#">DigitalTown</a> company
          </div>
          <div class="col-md-6 text-right">
          	<a href="#" class="mr-20">List Your Business</a>
          	<a href="#" class="mr-20">Solutions</a>
          	<a href="#" class="mr-20">Services</a>
          	<a href="#">Contact Us</a>
          </div>
      </div>
  </div>
</footer>