@charset "utf-8";
/* CSS Document */
body{
  font-family: 'Poppins', sans-serif;
 }
.skin-blue .main-header .navbar{
	/*background-color:#fff;*/
}
.main-sidebar{
	margin-top:90px;
	padding-top:0px;
	background-color:#fff;
}
.main-header{
	background-color:#fff;
	padding-top:3px;
}
.skin-blue .main-header .logo{
	background-color: transparent;
	padding:2px 0 2px 0;
	height:auto;
	text-align:left;
	margin-left:10px;
}
.skin-blue .main-header .logo:hover{
	background-color:transparent;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side{
	background-color:#0f0e22;
}
.skin-blue .sidebar-menu>li>.treeview-menu{
		background-color:#0f0e22;
}
.skin-blue .sidebar-menu>li>a{
}
.skin-blue .main-header .navbar{
	padding-top:10px;
}
.skin-blue .main-header .navbar .sidebar-toggle{
	color:#253339;
}
.skin-blue .main-header .navbar .nav>li>a{
	color:#414141;
}
.skin-blue .main-header .navbar .nav>li>a:hover{
	background:none;
	color:#414141;
}
.skin-blue .main-header .navbar{
	background-color:#fff !important;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a{
	background:none;
	color:#414141;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover, .skin-blue .main-header .navbar .sidebar-toggle:focus{
	background-color:#fff;
	color:#253339;
}
.main-header .sidebar-toggle:before{
	content: "\f036";
}
.content-wrapper{
	background-color:#f2f5f8;
}
.content-header>.breadcrumb{
	color:#718188;
	font-size:12px;
	font-weight:300;
	padding-top:0;
	position:relative;
	float:inherit;
	left:0px;
	margin-top:-20px;
	padding-bottom:8px;
	border-bottom:1px solid #dddddd;
}
.content-header>.breadcrumb li a{
	color:#718188;
}
.title-heading{
	border-bottom:1px solid #ddd;
	padding:20px 0;
}
.title-heading h4{
	margin:0;
	font-weight:500;
	color:#253339;
}
.title-heading h4 i{
	margin-right:8px;
}
.sidebar-menu>li>a{
	font-size:14px;
	color:#94a2a9 !important;
	padding-top:14px;
	padding-bottom:14px;
}
.treeview-menu>li>a{
	font-size:12px;
	padding-top:11px;
	padding-bottom:13px;
	padding-left:42px;
}
.sidebar-menu>li{
	border-bottom:1px solid #3b484d;
}
.sidebar-menu>li:last-child{
	border-bottom:none;
}
.treeview-menu{
	padding-left:0;
}
.treeview-menu li{
	border-bottom:1px solid #3b484d;
}
.treeview-menu li:last-child{
	border-bottom:none;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a{
	background:#0e0e22;
	color:#f6685d !important;
}
.skin-blue .sidebar-menu>li>a{
	border-left:5px solid #0e0e22;
	color:#7e7d99;
	font-size:14px;
}
.skin-blue .sidebar-menu>li:hover a{
	border-left-color:#f6685d;
}
.skin-blue .sidebar-menu>li.active>a{
	border-left-color:#f6685d;
}
.sidebar-menu li>a>.pull-right-container{
	right:3px;
}
.sidebar-menu li>a>.fa-angle-right, .sidebar-menu li>a>.pull-right-container>.fa-angle-right{
	width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    -webkit-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}
.sidebar-menu .menu-open>a>.fa-angle-right, .sidebar-menu .menu-open>a>.pull-right-container>.fa-angle-right {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion{
	width:24px;
	font-size:15px;
}
.sidebar-mini.sidebar-collapse .main-header .logo{
	text-align:center;
	margin-left:0;
}
.search-box{
	width:152px;
}
.search-box form.sidebar-form{
	margin:10px 0 0 0 ;
	border-color:#e9e9e9;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn{
	height:31px;
	font-size:12px;
	background-color: #FFF;
}
.title{
	color:#253339;
	margin:35px 0;
	text-transform:uppercase;
	text-shadow:0 0 #253339;
}
.drop-img{
	width:90px;
	height:90px;
	border:#b3b3b3 1px solid;
	padding:5px;
	text-align:center;
	background:#FFF;
	position:relative;
}
.drop-img img{
	width:100%;
	height:100%;
	position:absolute;
	z-index:10;
	left:0px;
	top:0px;

}
.drop-img-left:before{
	position:absolute;
	top:40%;
	font-size:12px;
	width:100%;
	left:0;
	content: "Drop image";
	text-align:center;
}
.black-button{
	background:#253339;
	color:#fff;
	padding:8px 20px;
}
.panel-box{
	padding-top:15px;
	box-shadow: 0 0px 9px rgba(0, 0, 0, 0.08);
	border:1px solid #e5e5e5;
}
.panel-box table{
	margin-top:15px;
}
.panel-box table thead tr th{
	background:#008fd4;
	color:#fff;
	font-weight:normal;
	padding-top:20px;
	border-color: transparent !important;
	padding-bottom:20px;
}
.panel-box table a.text-danger, .panel-box table a.text-success{
	font-size:16px;
}
.panel-box table a.text-danger{
	color:#e23434;
} 
.panel-box table a.text-success{
	color:#20a345;
} 	
.btn-success{
	background:#20a345;
}
.btn-danger{
	background:#e23434;
}
.wrapper{
	overflow-y:hidden;
}
.panel-box .form-control{
	border-radius:3px;
}
/****Table Style***/
table#miyazaki { margin-top:15px;}
table#miyazaki caption {}
table#miyazaki thead th { }
table#miyazaki thead th, table#miyazaki tbody td { border-color:#e3e3e3;}
table#miyazaki thead th, table#miyazaki tbody td:last-child{ border-right:none;}
/****Table Style***/
.mt-0{
	margin-top:0px;
}

.mt-5{
	margin-top:5px;
}
.mt-10{
	margin-top:10px;
}
.mt-15{
	margin-top:15px;
}
.mt-20{
	margin-top:20px;
}
.mt-25{
	margin-top:25px;
}
.mt-30{
	margin-top:30px;
}
.mt-35{
	margin-top:35px;
}
.mt-40{
	margin-top:40px;
}
.mb-5{
	margin-bottom:5px;
}
.mb-10{
	margin-bottom:10px;
}
.mb-15{
	margin-bottom:15px;
}
.mb-20{
	margin-bottom:20px;
}
.mb-25{
	margin-bottom:25px;
}
.mb-30{
	margin-bottom:30px;
}
.mb-35{
	margin-bottom:35px;
}
.mb-40{
	margin-bottom:40px;
}


.mr-5{
	margin-right:5px;
}
.mr-10{
	margin-right:10px;
}
.mr-15{
	margin-right:15px;
}
.mr-20{
	margin-right:20px;
}
.mr-25{
	margin-right:25px;
}
.mr-30{
	margin-right:30px;
}
.mr-35{
	margin-right:35px;
}
.mr-40{
	margin-right:40px;
}

.ml-5{
	margin-left:5px;
}
.ml-10{
	margin-left:10px;
}
.ml-15{
	margin-left:15px;
}
.ml-20{
	margin-left:20px;
}
.ml-25{
	margin-left:25px;
}
.ml-30{
	margin-left:30px;
}
.ml-35{
	margin-left:35px;
}
.ml-40{
	margin-left:40px;
}

.pt-5{
	padding-top:5px;
}
.pt-10{
	padding-top:10px;
}
.pt-15{
	padding-top:15px;
}
.pt-20{
	padding-top:20px;
}
.pt-25{
	padding-top:25px;
}
.pt-30{
	padding-top:30px;
}
.pt-35{
	padding-top:35px;
}
.pt-40{
	padding-top:40px;
}
.pb-5{
	padding-bottom:5px;
}
.pb-10{
	padding-bottom:10px;
}
.pb-15{
	padding-bottom:15px;
}
.pb-20{
	padding-bottom:20px;
}
.pb-25{
	padding-bottom:25px;
}
.pb-30{
	padding-bottom:30px;
}
.pb-35{
	padding-bottom:35px;
}
.pb-40{
	padding-bottom:40px;
}
.pl-5{
	padding-left:5px;
}
.pl-10{
	padding-left:10px;
}
.pl-15{
	padding-left:15px;
}
.pl-20{
	padding-left:20px;
}
.pl-25{
	padding-left:25px;
}
.pl-30{
	padding-left:30px;
}
.pl-35{
	padding-left:35px;
}
.pl-40{
	padding-left:40px;
}
.pr-5{
	padding-right:5px;
}
.pr-10{
	padding-right:10px;
}
.pr-15{
	padding-right:15px;
}
.pr-20{
	padding-right:20px;
}
.pr-25{
	padding-right:25px;
}
.pr-30{
	padding-right:30px;
}
.pr-35{
	padding-right:35px;
}
.pr-40{
	padding-left:40px;
}
#sidebar-form{
	display:block !important;
}
table.upload-image{}
table.upload-image tr td{
	vertical-align:middle;
	text-align:center;
}
/**Btn file***/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/**Btn file***/

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color: #008fd4;
    border-color: #008fd4;
}
/*****Add plan CSS********/
.form-control{
	border-radius:3px;
}
.add-property{
	border-top:none;
	box-shadow: 0 0px 9px rgba(0, 0, 0, 0.08);
}
.add-property .box-header{
	background-color:#e6e6e6;
	padding:15px;
}
.add-property h3.box-title{
	font-weight:700;
}
.add-property h3.box-title span{
	font-weight:500;
}
.add-property .box-body{
	padding:0px 25px 20px 25px;
}
.add-property label.control-label{
	font-size:18px;
	text-align:left;
	color:#202020;
	padding-top:0;
	font-weight:600;
}
.add-property .form-group{
}
.add-property .form-control{
	height:48px;
	border-radius:25px;
	background-color:#f4f4f4 ;
	border-color:#dadada;
	color:#565656 !important;
	font-size:14px;
	font-weight:600;
	padding-left:30px;
	padding-right:30px;
} 

.add-property label.control-label.font-size-15{
	font-size:15px;
	color:#4f4f4f;
}
.add-property label.control-label span{
	display:inline-block;
	font-size:13px;
	color:#8b8b8b;
	width:100%;
	font-weight:normal;
	
}


select {
	background: #F0F3FB;
	border: 1px solid #F0F3FB;
	border-radius: 4px;
	width: 100%;
	padding: 20px;
	font-size: 16px;
	color: #3F3F3F;

	/* Here's the code we need */
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
		appearance: none;
}

.select-wrapper {
	position: relative;	
}

.select-wrapper:after {
  	content: '';
  	font-size: 20px;
  	position: absolute;
  	top: 43%;
  	right: 20px;
  	color: #434B67;
  	pointer-events: none;
	border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-top: 6px solid #afafaf;
}

select::-ms-expand {
  display: none;
}
.add-property .select-box{
	 -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position:relative;
}
.add-property .select-box:before{
	content:'';
	position:absolute;
	right:30px;
	z-index:5;
	top:50%;
	border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #292070;
}
.add-property small{
	color:#787878;
	font-size:12px;
	margin-top:5px;
	display:inline-block;
}
.add-property .box-footer{ 
	border-color:#dddddd;
}
.select-img{ 
	width:190px; 
	height:190px; 
	border-radius:5px; 
	border:1px solid #e3e3e3;
	padding:8px;
	background-color:#fff;
}
.select-logo{ 
	width:315px; 
	height:190px; 
	padding:8px;
	background-color:#fff;
}
.select-img-img{
	width:100%;
	height:100%;
	background:#f6f6f6;
}
.select-logo-logo{
	width:100%;
	height:100%;
}
.panel-box .dataTables_filter{		
	margin-bottom: 10px;		
	margin-right: 10px;		
		
}		
.panel-box .dataTables_length, .dataTables_info{		
	margin-left: 10px;		
}		
.panel-box .dataTables_info{		
	margin-left: 10px;		
	padding-top: 15px;		
}		
.panel-box .dataTables_paginate{		
	margin: 10px 10px 10px 0;		
}		
.panel-box .box-header{		
	padding: 0;		
}		
.table-striped>tbody>tr:nth-of-type(odd){		
	background-color: #fafafa;		
}		
.drag-drop-section{		
color: #a7a7a7;		
font-size: 12px;		
}		
		
.communities-list{		
		
}		
		
.communities-list li{		
	float: left;		
	width: 100%;		
	border-bottom: 1px solid #F5F5F5;		
	padding-bottom: 10px;		
	padding-top: 10px;		
}		
.communities-list li:last-child{		
	border-bottom: none;		
}		
.divLoading { 		
    display: none;  		
}		
.divLoading {		
    display: block;		
    position: fixed;		
    z-index: 100000;		
    background-image: url('loader.gif');		
    background-color: #666;		
    opacity: 0.6; 		
    background-repeat: no-repeat;		
    background-position: center;		
    left: 0; 		
    bottom: 0; 		
    right: 0; 		
    top: 0; 		
 }		
		
#new-search-area input {		
  width: 300px;		
}		
table#communities{}		
table#communities thead tr th:first-child{		
	width: 72% !important;		
}		
table#communities tbody tr td{		
	text-align: left;		
}		
#no-sidemenu .logo{		
    background-color: #fff;		
    margin-left: 0;		
}		
#no-sidemenu .content-wrapper{		
    margin-left: 0;		
}		
#no-sidemenu .main-footer{		
     margin-left: 0;		
 }		
#no-sidemenu .sidebar-toggle{		
    display: none;		
}		
#no-sidemenu .breadcrumb{		
    display: none;		
}
/*Login page css*/
.login-bg{
	background:#33434b;
	padding:7% 0;
	position:relative;
}
.fa-caret-down{
	position:absolute;
	top:-13px;
	left:49%;
	color:#33434b;
	font-size:36px;
	font-family: 'FontAwesome';
    content: "\f0d7";
}
.login-top{}
.login-top p{
	font-size:13px;
	color:#cccccc;
	margin-bottom:0;
	margin-top:15px;
}
.login-from{
	background:#2c3b42;
	position:relative;
	padding:90px 0 7% 0;
	font-family: 'Open Sans', sans-serif;
	color:#b7b7b7;

}
.login-from a{
	color:#b7b7b7;
}
.login-from a:hover{
	color:#FFF;
}
.login-from .checkbox{
	padding-top:10px;
	padding-bottom:10px;
}
.login-from h3{
	font-size:20px;
	font-weight:300;
	color:#FFF;
	font-family: 'Open Sans', sans-serif;
}
.login-from form{
	margin-top:30px;
}
.login-from .copy-right{
	color:#FFF;
	margin-top:35px;
}
.login-from .btn{
	background:#008bd2;
	text-transform:uppercase;
	padding-top:8px;
	padding-bottom:8px;
	box-shadow: 1px 1px 8px -1px rgba(0, 0, 0, 0.35);
}
.login-from .form-group{
	position:relative;
}
.login-from .form-group input{
	padding-left:50px;
	padding-top:12px;
	padding-bottom:12px;
	height:40px;
	font-size:13px;
	color:#949494;
	font-weight:300;
}
.login-from .form-group .fa{
	position:absolute;
	left:0px;
	top:10px;
	height:20px;
	width:40px;
	border-right:1px solid #949494;
	line-height:20px;
	text-align:center;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1; }
    .checkbox input[type="checkbox"]:focus + label::before,
    .checkbox input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after,
    .checkbox input[type="radio"]:checked + label::after {
      font-family: "FontAwesome";
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label,
    .checkbox input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before,
      .checkbox input[type="radio"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #337ab7;
  border-color: #337ab7; }
.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }

.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      margin-left: -20px;
      border: 3px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 10px;
      height: 10px;
      left: 5px;
      top: 5px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}
    .radio input[type="radio"]:focus + label::before {
		outline:none;
	}
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }

input[type="checkbox"].styled:checked + label:after,
input[type="radio"].styled:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before,
input[type="radio"] .styled:checked + label::before {
  color: #fff; }
input[type="checkbox"] .styled:checked + label::after,
input[type="radio"] .styled:checked + label::after {
  color: #fff; }
 
.TriSea-technologies-Switch > input[type="checkbox"] {
    display: none;   
}

.TriSea-technologies-Switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.TriSea-technologies-Switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.TriSea-technologies-Switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.theme-setting{}
.theme-setting .tab-content{
	padding:20px 0px 0px 0px;
	background:#FFF;
	border-radius:3px;
} 
.theme-setting .title-box{
	font-size:12px;
	margin-bottom:40px;
	color:#6d6d6d;
	padding-left:20px;
}
.btn-primary {
	background:#008fd4;
} 
.theme-setting .drag-box{ 
	width:100%; 
	height:142px; 
	background:#f7f7f7; 
	border:2px dashed #e8e8e8; 
	border-radius:3px;
	position:relative;
}
.icon-upload{
	position:absolute;
	left:46%;
	top:42%;
}
.theme-setting ul.nav-tabs{
	padding-left:10px;
}
.theme-setting .nav-tabs li a{
	color:#232323;
	font-size:14px;
	background:#e4e4e4;
	padding-left:28px;
	padding-right:28px;
	border-top:4px solid #e4e4e4;
}
.theme-setting .nav-tabs li.active a{
	color:#232323;
	font-size:14px;
	background:#fff;
	padding-left:28px;
	padding-right:28px;
	border-top:4px solid #253339;

}
.theme-setting .nav-tabs li.open a{
	color:#232323;
	font-size:14px;
	border: none;
	background:#fff;
	border-top:4px solid #253339;
}
.theme-setting .nav-tabs ul.dropdown-menu li a{
	border:none;
	padding-top:5px;
	padding-bottom:5px;
}
.theme-setting .nav-tabs ul.dropdown-menu li:hover a{
	background:#008fd4;
	color:#FFF;
}
.theme-setting .select-theme{
	background:#FFF;
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.24);
	margin-top:20px;
	margin-bottom:30px;
	position:relative;
}
.theme-setting .select-theme i.fa-check{
	position:absolute;
	right:-10px;
	width:30px;
	height:30px;
	border-radius:100%;
	text-align:center;
	background:#20a345;
	color:#fff;
	line-height:30px;
	font-size:16px;
	top:-10px;
	display:none;
}
.theme-setting .select-theme.active-theme i{
	display:block;
}
.theme-setting .select-theme.active-theme .btn-success{
	background:#20a345;
	color:#fff;
	border-color:#20a345
}
.themes-detail{
	display:inline-block;
	width:100%;
	padding:0 3% 3px 3%;
	line-height:37px;
}
.themes-detail h4{
	color:#202020;
	margin-top:10px;
	font-size:16px;
	font-weight:600;
}
.themes-detail a{
	font-size:12px;
	color:#008fd4;
}
.themes-detail a.btn-success{
	background:#fff;
	color:#20a345;
	border-color:#20a345;
	padding-left:18px;
	padding-right:18px;
}
.themes-detail a.btn-success:hover{
	background:#20a345;
	color:#fff;
	border-color:#20a345;
}
.theme-img{
	background-size:cover;
	height:206px;
	width:100%;
	background-size:cover !important;
	background-repeat:no-repeat !important;
	margin-bottom:10px;
}
.colorpicker-style{}
.colorpicker-style .input-group-addon{
	padding:0; 
	border:none;
}
.colorpicker-style .input-group-addon i {
	position:absolute; 
	left:12px; 
	top:6px; 
	z-index:10; 
	width:27px; 
	height:27px; 
	border-radius:3px;
}
.colorpicker-style .input-group-addon input.form-control{
	padding-left:50px; 
	border-radius:3px;
}
.block-text{
	color:#202020;
	font-size:15px;
	line-height:22px;
	background:#b3b3b3;
	padding:20px;
	margin-top:55px;
	border:1px solid #5a5a5a;
}
.p-right0{
	padding-right:0;
}
.p-left0{
	padding-left:0;
}
ul.images-tabs{
	padding-left:0 !important;
	margin-left:15px;
	border-left:1px solid #ddd;
	border-bottom:1px solid #ddd;
	}
ul.images-tabs li{
	width:100%;
	border-right:5px solid #008fd4 !important;

}
ul.images-tabs li a{
	font-size:12px !important;
	padding:12px 15px !important;
	font-weight:600;
	color:#4f4f4f;
	line-height:15px;
	border-top:#dbdbdb 1px solid !important;
	border-bottom:#dbdbdb 1px solid !important;
	margin-right:0;
	background:#fff !important;
	border-radius:0;
	position:relative;
	border-left: none !important;
	text-transform:uppercase;
}
ul.images-tabs li.active a{
	background:#008fd4 !important;
	color:#fff !important;
	border-color:#008fd4 !important;
	border-right: none !important;
}
ul.images-tabs li.active a:before{
	font-family: 'FontAwesome';
	content: "\f0da";
	position:absolute;
	right:-13px;
	top:40%;
	font-size:30px;
	color:#008fd4;
}
ul.images-tabs li.active a span{
	color:#fff !important;
}
ul.images-tabs li a span{
	color:#a0a0a0;
	font-size:11px;
	font-weight:normal;
	display:inline-block;
	width:100%;
	text-transform:capitalize;
}
.tab-content-new{
	padding-top:0 !important;
}
.drag-box-new{
	height:168px !important;
}
.map-block{
	width:100%;
	height:700px;
	overflow:scroll;
}
ul.amenities-list{
	margin:0;
	padding:0;
	overflow-y:scroll;
	overflow-x:hidden;
    box-shadow: -1px -2px 9px 3px rgba(0, 0, 0, 0.1);
	height:450px;
	width:100%;
	background:#f6f6f6;
}

ul.amenities-list li{
	border-bottom:#dddddd 1px solid;
	padding-top:17px;
	padding-left:20px;
	padding-bottom:17px;
}
ul.amenities-list li a{
	font-size:13px;
	color:#4c4c4c;
}
.map-body-top{
	padding-top:0 !important;
}
.text-UP{
	text-transform:uppercase;
}
.text-CP{
	text-transform:capitalize;
}
.breadcrumb .active{
	color:#718188;
}
.breadcrumb li:first-child a{
	color:#008fd4;
}
/******Home Slide Tabs*****/
ul.home-tabs{
	border:none;
}
ul.home-tabs li a{
	color:#008fd4;
	font-size:14px;
	text-transform:uppercase;
	background:#FFF;
	padding-top:7px;
	margin-right:-2px;
	border:1px solid #008fd4;
	border-radius:4px;
	padding-bottom:7px;
	width:200px;
	text-align:center;
}
ul.home-tabs li:first-child a{
	border-radius: 4px 0px 0px 4px;
}
ul.home-tabs li:last-child a{
	border-radius: 0px 4px 4px 0px;
}
ul.home-tabs li.active a{
	color:#fff !important;
	background-color:#008fd4 !important;
	border:1px solid #008fd4 !important;
}
ul.home-tabs li:hover a{
	color:#fff !important;
	background-color:#008fd4 !important;
		border:1px solid #008fd4 !important;

}

.title-home{}
.title-home h4{
	font-weight:400;
	color:#253339;
	margin-bottom:20px;
}
.title-home p{
	font-size:13px;
	color:#6d6d6d;
}
.view-slide{
	font-size:12px;
	color:#253339;
	font-weight:400;
	text-shadow:0 0 #253339;
	text-decoration:underline;
}
.view-slide:hover{
	color:#000;
	text-decoration:none;
}
.slide-image{
	position:relative;
	margin:20px 0;
}
.image-box{
	background:#FFF;
	padding:5px;
}
.slide-image .images{
	width:100%;
	height:250px;
	overflow:hidden;
	transition: all .2s ease-in-out;
}
.slide-image .images img{
	width:100%;
	height:100%;
	margin-bottom:20px;
	overflow:hidden;
	transition: all .6s ease-in-out;

}
.slide-image:hover .images img{
	transform: scale(1.1);
}
.slide-image .icons{
	position:absolute;
	right:-10px;
	transition: all 0.5s ease;
	top:-17px;

	display:none;
}
.slide-image:hover .icons{
	display:block;
	cursor:pointer;
    transition: all 0.5s ease;
}
.slide-image:hover {
	cursor:pointer;
}
.slide-image .icons i{
	width:32px;
	height:32px;
	border-radius:100%;
	text-align:center;
	line-height:32px;
	font-size:16px;
	color:#fff;
	margin-right:5px;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.64);
}
.slide-image .icons i:hover{
	cursor:pointer;
	opacity:0.9;
}
.slide-image .icons i.fa-pencil{
	background:#737881;
}
.slide-image .icons i.fa-close{
	background:#dd1f26;
}
.slide-image h4{
	color:#4a4a4a;
	font-size:14px;
	font-weight:600;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	margin:auto;
}
.edit-image{}
.edit-image .modal-dialog{
	margin-top:10%;
}
.edit-image button.close{
	position:absolute;
	right:-10px;
	top:-10px;
	background:#000;
	width:25px;
	height:25px;
	border-radius:100%;
	opacity:10;
	z-index: 10;
}
.edit-image label{
	margin-bottom:10px;
	font-weight:normal;
	color:#343434;
}
.edit-image button.close i{
	color:#FFF;
	font-size:12px;
	position: relative;
    top: -3px
}
.modal-content{
	border-radius:4px;
}
.image-upload{
	margin-top:20%;
	margin-bottom:50px;
	color:#a7a7a7;
	font-size:12px;
}
.image-upload p{
	margin-top:10px;
}
#edit-image{}
#edit-image .modal-body{
	padding:0;
}
#edit-image .form-group{
	padding:15px 15px 0 15px;
	}
#edit-image .image-crop{
	width:100%;
}	

.title-home{
	position:relative;
}	
.title-home .btn-file{
	position:absolute;
	right:0;
	top:-60px;
}

.jcrop-holder{
	position: relative;
	z-index:5;
}
.video-box{
	position: relative;
}
.video-box video{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.slider-horizontal{
	margin:0 10px;
	width:94% !important;
	margin-bottom:5px !important;
}
.select-box .radio input[type="radio"]{
	margin-left: -17px;
}
.select-box .radio label::before{
	width:18px;
	height:18px;
}
.select-box .radio label::after{
	left:4px;
	top:4px;
}
.image-map{
	 height:1003px;
 overflow:scroll;
 overflow-y: hidden;
}
.image-map h3{
	color:#313131;
		font-family: 'Raleway', sans-serif;
		font-size:22px;
		font-weight:700;
		margin:24px 0 24px 30px;
}
.image-map img{
	width: 100%;
	height: 100%;
}
.building-plan{
	position:absolute;
	right:0px;
	top:0;
	height:100%;
	width:130px;
	background: rgba(0, 0, 0, 0.85);
}

.building-plan ul{
	margin:0;
	padding:0;
	list-style: none;
}
.building-plan ul li{
	margin:0 30px;
	padding-bottom:25px;
	text-align:center;
}
.building-plan ul li a{
	color:#727d80;
	font-size:24px;
	display:inline-block;
	font-family: 'Raleway', sans-serif;
	text-align:center;
    padding: 3px 25px;
    border-radius: 19px;
}
.building-plan ul li a:hover{
	background:#008aff;
	color:#fff;
}
.select-floor{}
.select-floor ul{
	margin:0;
	padding:0;
	position:relative;
	left:5px;
	top: 20px;
	list-style: none;
}
.select-floor ul li{
	padding-bottom:25px;
	text-align:center;
}
.select-floor ul li a{
	color:#fff;
	font-size:20px;
	display:inline-block;
	font-family: 'Raleway', sans-serif;
	text-align:center;
    padding: 1px 13px;
    border-radius: 19px;
}
.select-floor ul li a.disabled{
	color:#727d80;
	cursor:not-allowed;
	background:none;
}
.select-floor ul li a.disabled:hover{
	color:#727d80;
	cursor:not-allowed;
	background:none;
}
.select-floor ul li a.selected{	
	background-color:#008aff;
	color: #fff;
}
.select-floor ul li a.selected:hover{
	
	color:#727d80;
}
.select-floor ul li a:hover{
	background:#008aff;
	color:#fff;
}

.image-map{
	width:100%;
	height:100vh;
}
.showcase #content-3.content{
	background-image: none;
	min-height:680px;
	width:60px;
	background: #1d2425;
	padding:0;
	margin-right:25px;
}
.pop-over{
	width:300px;
	padding:15px;
	background: rgba(0, 0, 0, 0.85);
	position:absolute;
	left:38%;
	top:32%;
}
.pop-over .rating{
	display:inline-block;
	width:100%;
	font-size:11px;
}
.pop-over .rating i{
	font-size:10px;
}
.plan-box{}
.pop-over .fa-close{
	position:absolute;
	right:10px;
	top:5px;
	color:#fff;
}
.pop-over h3{
	margin:0 0 15px;
	color:#fff;
	font-size:16px;
	padding-bottom:15px;
	border-bottom:1px solid #fff;
}
.plan-box .plan-detail{
	color:#fff;
	font-size:14px;
}
.plan-box .plan-detail h5{
	font-size:11px;
}
.plan-box .plan-detail ul{
	padding:0;
	margin:0;
	list-style:none;
}
.plan-box .plan-detail ul li .btn{
	margin:5px 0;
}
.plan-box .plan-image{
	width:166px;
}
.plan-box .plan-image img{
	max-width:100%;
	height:100%;
}
.plan-image-pop{

}
.plan-image-pop img{
	width: 100%;
}
.slider-box{}
.slider-box .slider-handle{
	border:5px solid #008fd4 !important;
	background:#fff;
}
.slider-box  #blue .slider-selection{
	background:#008fd4;
}
.slider-box .slider.slider-horizontal .slider-track{
	height:7px;
}
.slider-box .slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle{
	margin-top:-7px;
}
.floor-plan{
	background:#303a3c;
	font-family: 'Raleway', sans-serif;
}
.showcase{
	position:absolute;
	right:0;
	top:78px;
	background: #1d2425;
	z-index:10;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	height:100px;
}

.left-side{

	float:left;
	padding-left:15px;
	letter-spacing:1px;

}
.right-side{
	margin-left:331px;
	position: absolute;
    width: calc(98% - 300px);
    height: 100%;
}
.middle-units{
	margin-left:216px;
	position: absolute;
    width: 100%;
    height: 100%;
}
.select-list{
	width:210px;
	float:left;
	font-family: 'Raleway', sans-serif;
	color:#8f9495;
	padding:25px 0 10px 0;

}
.select-title{
	float:left;
	width:100%;
	border-bottom:1px solid #454e50;
}
.select-title .checkbox.active label{
	color: #fff;
}
.select-title h3{
	color:#FFF;
	font-size:18px;
	margin-top:10px;
	font-family: 'Raleway', sans-serif;
	font-weight:normal;
}
.select-title h3 span{
	font-weight:bold;
}
.list-select{
	float:left;
	width:100%;
}
.list-select .active label{
	color: #fff;
} 
.list-select h4{
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	color:#999c9d;
	margin:25px 0;
}
.left-side .checkbox label::before{
	background-color:transparent;
	border-color:#8c9192;
}
.select-price{
	margin:0 0 0px 0;
	float:left;
	width:100%;
}
.select-price .form-group{
	margin-bottom: 0;
	padding-bottom: 30px;

}
.select-price h3{
	font-size:15px;
	color:#bebfc0;
	margin-top: 0;
	font-weight:700;
	margin-bottom:15px;
	font-family: 'Raleway', sans-serif;

}
.select-price  select{
	background-color:transparent;
	border-color:#8c9192;
	color:#8c9192;

}
.select-floorP{
	width:85px;
	float:right;
	position:relative;
}
.select-floorP h4{
	color:#fff;
	font-size:14px;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	background:#1a1f20;
	padding: 29px 0 18px 0;
	margin:0;
	border-bottom: 1px solid #454e50;
}
.select-floor-bg{
	background:#1d2425;
}
.select-floor-bg .mCSB_outside + .mCSB_scrollTools{
	right:-22px;
}
.select-floor-bg .mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail{
	width:1px;
	margin-left:-2px;
}
.select-floor-bg .mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	    margin: 7px 3px;
		width:13px;
		background-color:#008aff;
}
a#clickme{ display:none !important;  background:#444; cursor:pointer;display:block; position:absolute; left:0; top:0; z-index:100; padding:5px 15px; color:#fff;
font-size:16px;}
div.mydiv{width:331px; position: absolute; /*left:-331px;*/ height:100%; background: #303a3c; z-index:90;}
.plane-details{
	margin-right:10%;
}
.plane-details .name{
	background:#303a3c;
	color:#fff;
	font-size:18px;
	padding:18px 30px;
	margin-left:-15px;
	padding-right:50px;
	position: relative;
}
.plane-details .name:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: 0;
    border-bottom: 62px solid #fff;
    border-left: 39px solid rgba(0, 0, 0, 0);
}
.plane-details ul{
	margin:40px 0 50px 0;
	padding:0;
	list-style:none;
}
.plane-details ul li{
	padding:14px 15px 14px 30px;
	color:#696969;
	font-size:14px;
	border-bottom:#e1e1e1 1px solid;
}
.price-details{}
.price-count{
	background:#2693ff;
	color:#fff;
	font-size:18px;
	padding:18px 30px;
	margin-left:-15px;
	padding-right:50px;
	position: relative;
}
.price-count:before{
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: 0;
    border-bottom: 62px solid #fff;
    border-left: 39px solid rgba(0, 0, 0, 0);
}
.available-now{
	display:inline-block;
	margin:20px;
	font-size:18px;
}
.btn-apply{
	margin-top:30px;
	margin-bottom: 20px;
}
.btn-apply a{
	padding:20px 30px;
	font-size:18px;
	color:#7b7b7b;
	border:1px solid #7b7b7b;
	border-radius:50px;

}
.btn-apply a:hover{
	color:#fff;
	background:#2693ff;
	border:1px solid #2693ff;

}
.custom-icon{
	font-size: 13px;     
	border: 2px solid #fff;
    box-shadow: 1px 1px 1px 1px #17171769;
    color: #ffffff; 
    width: 25px; 
    height: 25px; 
    border-radius: 100%; 
    background-color: #d40e0e; 
    text-align: center; 
    display: inline-block; 
    line-height: 24px;
}
.custom-icon-black{
	font-size: 20px;
	color: black;
}
.plan-modal{}
.plan-modal .modal-header{}
.plan-modal .modal-header h4.modal-title{
	font-size:24px;
	color:#000;
}
.plan-modal .modal-header .close {
    margin-top: -2px;
    font-size: 38px;
    color: #000;
    opacity: 1;
}
.plan-modal .modal-body{
	padding-top:20px;
	padding-bottom:20px;
}
.bg-bottom{
	background: #2b3436;
    float: left;
    /* width: 100%; */
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
	position:relative;
	margin-top:10px;
	padding-bottom:20px;
}
.bg-bottom:before{
	 content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: -27px;
    width: 100%;
    transform: skewY(-8deg);
    background-color: #2c3436;
    height: 49px;
    z-index: -1;
    /*content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    top: -42px;
    border-bottom: 42px solid #2b3436;
    border-left: 247px solid rgba(0, 0, 0, 0);
    width: 100%;*/
}
.bg-bottom:after{
     content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 0px;
    bottom: -27px;
    width: 100%;
    transform: skewY(-8deg);
    background-color: #2c3436;
    height: 49px;
    z-index: -1;
}

.date-select{
 	margin:35px 0 50px 0;
}
.date-select h5{
	color:#2c2c2c;
	font-weight:600;
	text-transform:uppercase;
}
.date-select input{
	border-radius:20px;
	color:#2c2c2c;
	height:39px;
	box-shadow: 2px 1px 16px 4px #ddd;
}
.date-select .form-group {
 	position:relative;
}
.date-select .form-group i {
	position:absolute;
	right:20px;
	top:10px;
}
.plan-image-pop{
 	position:relative;
}
.plan-image-pop .icon-heart{
	position:absolute;
	right:0;
	top:0;
	width:50px;
	height:50px;
	background:#000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.plan-image-pop .icon-heart i{
	color:#fff;
	font-size:26px;
}

.date-select{
 margin:35px 0 50px 0;
}
.date-select h5{
 color:#2c2c2c;
 font-weight:600;
 text-transform:uppercase;
}
.date-select input{
 border-radius:20px;
 color:#2c2c2c;
 height:39px;
 box-shadow: 2px 1px 16px 4px #ddd;
}
.date-select .form-group {
 position:relative;
}
.date-select .form-group i {
 position:absolute;
 right:20px;
 top:10px;
}
.plan-image{
 position:relative;
}
.plan-image .icon-heart{
 position:absolute;
 right:0;
 top:0;
 width:50px;
 height:50px;
 background:#000;
 display: flex;
 align-items: center;
 justify-content: center;
}
.plan-image .icon-heart i{
 color:#fff;
 font-size:26px;
}
.select-list-fav{
 width:290px;
}
.select-list-fav .select-title{
 margin-bottom:30px;
 padding-bottom:15px;
}
.thank-u{
 padding:20px 0 40px 0;
}
.thank-u p{
 color:#fff;
 font-size:13px;
}
.form-group{
 position:relative;
 padding-bottom:5px;
}
.send-to label{
 color:#fff;
}
.form-group button.send-btn{
 position:absolute;
 right:10px;
 top:6px;
 background:none;
 border:none;
 font-size:20px;
 transform: rotate(40deg);
 color:#008aff;
}
.need-to{}
.need-to h3{
 color:#fff;
 font-size:14px;
 padding:20px 0;
 font-weight:600;
 text-transform:uppercase;
}
.need-to p{
 color:#fff;
 font-size:13px;
 margin-bottom:50px;
}
.need-to .btn{
 padding:15px;
 border-radius:50px;
 background-color:#2693ff;
 text-transform:uppercase;
}
.modal-right{
 border-radius:0;
 width:79%;
 margin:2% 0%;
}
.modal-right .plan-image img{
 width:100%;
}
.modal-right .plane-details ul{
 margin:15px 0 30px 0px
}

.view-btn{
	background-color: #fff;
	color: #008aff;
	padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.view-btn:hover{
	background-color: #008aff;
}
.popover h3.popover-title{
	margin: 0px;
	font-size: 16px;
}
#marker-popover{
	width: 200px;
	position: absolute;
	z-index: 1000;
	background-color: #fff;
	padding: 15px;
	border-radius: 3px;
}
#marker-popover .popupover-image{
	height: 125px;
	overflow: hidden;
	margin-bottom: 10px;
}
#marker-popover .popupover-image img{
	width: 100%;
	height: 100%;
}
.banner-bg{
	background-color:#000;
	height:180px;
	background:image-url('admin-bg-top.jpg') no-repeat center top;
	background-size:cover;
	width:100%;
	position:relative;
}
.banner-bg h2 small{
	color:#fff;
}
.banner-bg h2{
	font-size:26px;
	font-weight:600;
	color:#fff;
	padding-left:20px;
	margin-top:0;
	padding-top:40px;
}
.breadcrumb-menu{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-color:#00000087;
}
.breadcrumb-menu ul{
	list-style:none;
	margin-bottom:0;
	padding-left:20px;
	text-align:right;
}
.breadcrumb-menu ul li{
	display:inline-block;
	font-size:13px;
	padding-top:14px;
	padding-bottom:14px;
	color:#fff;
    margin-right: 8px;
    position: relative;
    padding-right: 15px;
}
.breadcrumb-menu ul li a{
	color:#c2c4d3;
}
.breadcrumb-menu ul li a:hover{
	color:#f6685d;
}
.breadcrumb-menu ul li.active a{
	color:#f6685d;
}
.breadcrumb-menu ul li:before{
	content:'';
	width:5px;
	height:5px;
	background:#f6685d;
	position: absolute;
    right: 0;
    top: 50%;
	transform: rotate(40deg);
}
.breadcrumb-menu ul li:last-child:before{
	display:none;
}
.breadcrumb-menu ul li.active:before{
	color:#f6685d;
}
.user-menu{
	border:1px solid #f6685d;
	border-radius:50px;
	margin:5px 0 15px 0;
}
.user-menu a.dropdown-toggle{
	padding:3px 5px 1px 2px !important;
	font-size:14px;
	display:inline-block;
	line-height:40px !important;
	color:#f6685d !important;
	font-weight:600 !important;
}
.navbar-nav>.user-menu .user-image{
	width:44px;
	height:44px;
}
.user-menu ul.dropdown-menu{
	margin-top:15px;
	width:200px !important;
}
.user-menu ul.dropdown-menu li a{
	padding-top:5px;
	padding-bottom:5px;
}
.breadcrumb-menu ul li.add-link{
	padding-bottom:5px;
	padding-top:5px;
}
.breadcrumb-menu ul li.add-link i{
	position:relative;
	top:5px;
}
.propery-tabs{
	width:100%;
	display:table;
	position:relative;
	z-index:10;
}
.propery-tabs-lins{
	content:'';
	position:absolute;
	width:88%;
	left:5%;
	top:68px;
	height:7px;
	background-color:#FFF;
}
.propery-tabs .tabs-block{
	width:12.55%;
	text-align:center;
	padding:35px 0 25px 0;
	display:table-cell;
	position:relative;
}
.propery-tabs .tabs-block:hover{
	background-color:#292070;
	cursor:pointer;
	transition: all 0.8s ease;

}
.propery-tabs .tabs-block:hover:before{
	content:'';
	position:absolute;
	bottom:-10px;
	left:45%;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #292070;
}


.propery-tabs .tabs-block.active{
	background-color:#292070;
	cursor:pointer;
	transition: all 0.8s ease;

}
.propery-tabs .tabs-block.active .name{
	color:#fff;
}
.propery-tabs .tabs-block.active:before{
	content:'';
	position:absolute;
	bottom:-10px;
	left:45%;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #292070;
}


.propery-tabs .tabs-block .icon{
	width:70px;
	height:70px;
	background-color:#fff;
	border-radius:100%;
	display: inline-flex;
    align-items: center;
    text-align: center;
	position:relative;
	z-index:1;
}
.propery-tabs .tabs-block .icon i{
	font-size:30px;
	color:#292070;
	margin:auto;
	position:relative;
	z-index:10;
}
.propery-tabs .tabs-block .name{
	margin-top:20px;
	font-size:13px;
	color:#292070;
	font-weight:600;
}
.propery-tabs .tabs-block:hover .name{
	color:#fff;
	cursor:pointer;
}
.main-footer{
	margin-left:0;
	position:relative;
	z-index:1000;
	padding:30px 15px;
	background-color:#262626;
	border-top:1px solid #262626;
	color:#8d8d8d;
	font-weight:600;
	font-size:13px;
}
.main-footer a{
	color:#8d8d8d;
}
.main-footer a:hover{
	text-decoration:underline;
}
.tabs-title{
	margin:40px 0 30px;
}
.tabs-title img{
	float:left;
	width:60px;
}
.tabs-title .heading{
	margin-left:60px;
	margin-top:15px;
}
.tabs-title .heading h1{
	font-size:22px;
	font-weight:600;
	color:#000;
	margin-top: 20px;
    display: inline-block;
}
.tabs-title .heading p{
	font-size:12px;
	color:#757575;
}


.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.can-toggle label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: #292070;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #f4f4f4;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #fff;
}
.can-toggle input[type="checkbox"]:hover ~ label {
  color: #6a6a6a;
}
.can-toggle input[type="checkbox"]:checked ~ label:hover {
  color: #fff;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #f4f4f4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #fff;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #f4f4f4;
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #fff;
}
.can-toggle label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle label .can-toggle__switch {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
          transition: background-color 0.3s cubic-bezier(0, 1, 0.5, 1);
  background: #f4f4f4;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #fff;
}
.can-toggle input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}
.can-toggle input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
}
.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  -webkit-flex: 0 0 134px;
      -ms-flex: 0 0 134px;
          flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
}
.can-toggle__switch:hover{
	cursor:pointer;
	}
.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(150px, 0, 0);
          transform: translate3d(150px, 0, 0);
}

.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  -webkit-flex: 0 0 300px;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  border-radius: 50px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 150px;
  font-size: 14px;
  line-height: 50px;
  width: 150px;
  color:#000;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 50px;
  width: 150px;
  line-height: 46px;
  font-size: 14px;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label {
  color: #a23768;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label:hover {
  color: #39916a;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch {
  background-color: #3d9c72;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  color: #2f7757;
}
.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  -webkit-transition: background-color 0.3s ease-in-out;
          transition: background-color 0.3s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  color: #b53e74;
}


/*Button Custom Style*/
.btn:focus{
	outline:none !important;
}
.btn-custom{
	min-width:160px;
	background-color:#fff;
	color:#f6685d;
	font-size:14px;
	font-weight:600;
	border-color:#f6685d;
	padding:14px 35px;
	border-radius:50px;
}
.btn-custom:hover{
	background-color:#f6685d;
	color:#fff;
	box-shadow: 0px 8px 12px 0px #f6685d2e;
}
.btn-custom:focus{
	 box-shadow: 0 0 0 0.2rem #f6685d2e;
}

@media only screen and (min-width: 1200px) and (max-width: 1580px){
	#s-theme{}
	#s-theme .row .col-lg-3{
		width:33%;
	}
	.slide-imgage-boxs .col-lg-3{
		width:33%;
	}
}

@media only screen and (min-width: 1034px) and (max-width: 1280px)  {
	.drop-img{
		width:75px;
		height:75px;
	}
	.black-button{
		padding-left:10px;
		padding-right:10px;
	}
	.p-right0{
	padding-right:15px;
}
.p-left0{
	padding-left:15px;
}

	
}

@media (max-width:1366px){
	.select-list .checkbox{
		padding-bottom: 5px;
	}
	.select-list .checkbox:last-child{
		padding-bottom: 0;
	}
	.bg-bottom:before{
		display: none;
	}
	.bg-bottom:after{
		display: none;
	}
	.list-select h4{
		margin: 12px 0;
	}
	.select-price .form-group{
		padding-bottom: 15px;
	}
	.view-btn{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#unitModal .modal-dialog{
		max-width: 1000px !important;
	}
	.plane-details ul{
		margin: 0px 0 10px 0;
	}
	.plane-details ul li{
		padding: 10px 0px 10px 10px;
	}
	.plane-details .name{
		padding: 10px 30px;
	}
	.price-count{
		padding: 10px 30px;	
	}
	.date-select{
		margin: 5px 0;
	}
	.plane-details .form-group{
		padding-bottom: 5px;
	}
	.available-now{
		margin: 10px;
	}
	.btn-apply a{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.btn-apply{
		margin: 20px 0 7px 0;
	}
}
/*@media (max-width:1040px){
	.image-map img{
		margin-top: 60px;
		height: auto;	
	}

}*/
@media (max-width:991px){
	.main-header{
		max-height:inherit;
	}
	.content-header>.breadcrumb{
		margin-top:0;
		background: none;
	}
	.p-right0{
	padding-right:15px;
	}
	.p-left0{
		padding-left:15px;
	}
	.margin-bottom-30{
		margin-bottom:20px;
	}
	ul.images-tabs li.active a:before{
		display:none;
	}
	ul.images-tabs li{
		margin-bottom:20px;
	}
	ul.images-tabs{
		padding-right:15px;
		border:none !important
	}
	.tab-content-new{
		padding:15px !important;
	}
	.plane-details{
		margin-right: 0;
	}
	.plan-image-pop{
		margin-top: 30px;
	}
	#unitModal .modal-dialog{
		max-width: 96% !important;
	}
	.propery-tabs .tabs-block{
		display:inline-block;
		width:32%;
		margin-left:1%;
	}
	.propery-tabs-lins{
		display:none;
	}

	
}
@media (max-width:850px){
	.content-header>.breadcrumb{
		left:0;
		padding-top:0px;
		background:none;
		padding-bottom:0px;
	}

	table#miyazaki caption { 
		background-image: none; 
	}
	table#miyazaki thead { 
		display: none; 
	}
	
	table#miyazaki tbody td { 
		display: block; 
	}
	table#miyazaki tbody tr td:first-child { 
		background: #008fd4; 
		color: #fff; 
	}
	table#miyazaki tbody td:before { 
		content: attr(data-th); 
		font-weight: bold;
		display: inline-block;
		width: 44%;  
	}
	.drop-img{
	  margin:auto;
	  margin-top:-15px;
	 }

	.content-header>.breadcrumb{
		margin-top:0;
	}
	.p-right0{
		padding-right:15px;
	}
	.p-left0{
		padding-left:15px;
	}

	.margin-bottom-30{
		margin-bottom:20px;
	}
	ul.images-tabs li.active a:before{
		display:none;
	}
	ul.images-tabs li{
		margin-bottom:20px;
	}
	ul.images-tabs{
		padding-right:15px;
		border:none !important
	}
	.tab-content-new{
		padding:15px !important;
	}
	.home-tabs{
		margin-bottom:20px;
	}
	ul.home-tabs li{
		width:50%;
	}
	ul.home-tabs li a{
		width:100%;
	}
	.title-home .btn-file{
		position:absolute;
		right:0;
		top:-30px;
	}
	
	div.mydiv{
		left:-331px;
		height:1000px;
		top: 32px;
		position:absolute;
	}
	a#clickme{
		display:block !important;
	}
	.right-side{
		margin-left:0;
		width:100%;
		height:100%;
	}
	.plan-image-pop{
		margin-top: 40px;
	}
	.image-map{
		overflow:hidden;
		width: 100%;
	}
	#unitModal .modal-dialog{
		width: 95.5% !important;
	}
	.plan-image{
		margin-top:50px;
	}
	.plan-image img{
		width:100%;
	}
	.modal-right{
		width: 99%;
	}
	.propery-tabs .tabs-block{
		display:inline-block;
		width:48%;
		margin-left:1%;
	}
	.propery-tabs-lins{
		display:none;
	}
}
@media (max-width:767px){
	.pop-over{
		left:0;
		top:25%;
	}
	.image-map{
		overflow:scroll;
		height: 400px;
	}
	.image-map img{
		/*height: auto;*/
	}
	.custom-icon{
		width: 20px;
		height: 20px;
		line-height: 14px;
	}
	.custom-icon-black{
		font-size: 16px;
	}
	
	.main-sidebar{
		margin-top:155px;
	}
	.navbar-nav>.user-menu .user-image{
		margin-top:-2px;
	}
	.skin-blue .main-header .navbar .dropdown-menu li a{
		color:#777;
	}
}


@media (max-width:350px){
	ul.home-tabs li a{
		font-size:11px;
	}
}
.jcrop-keymgr{
	opacity: 0;
}
.home-page-drag-box{
	border: 2px dashed #e8e8e8;
	background-color: azure;
    height: 175px;
}
.drag-image-padding-top{
	padding-top: 62px;
}
.adjust-width{
	width: 92%;
}

.svg-file{
	width: 1412px;
	height: 932px;
}